.Home {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #f0f0f0;
	text-align: center;
}

.Home-header {
	background-color: #282c34;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	color: white;
}

.Home-header h1 {
	font-size: 2.5em;
	margin-bottom: 20px;
}

.Home-image {
	width: 100%;
	max-width: 600px;
	height: auto;
	margin: 20px 0;
	border-radius: 10px;
}

.Home-header p {
	font-size: 1.2em;
	margin-top: 20px;
}
